asgiref==3.11.1
beautifulsoup4==4.13.4
cssutils==2.11.1
Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
more-itertools==10.7.0
pillow==12.1.1
PyJWT==2.10.1
python-decouple==3.8
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.1