asgiref==3.11.1
beautifulsoup4==4.13.4
certifi==2026.2.25
charset-normalizer==3.4.7
cssutils==2.11.1
Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
idna==3.11
more-itertools==10.7.0
pillow==12.1.1
PyJWT==2.10.1
PyPDF2==3.0.1
python-decouple==3.8
requests==2.33.1
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.6.3
